<div class="container">
    <div class="text-center profile content-container">
        <img src="https://media.licdn.com/dms/image/D4E03AQGeSfY2Bm2PnQ/profile-displayphoto-shrink_800_800/0/1685480832175?e=2147483647&v=beta&t=NGnL8K_AHGS52e5vHSMTgL17d7tdAX0O-yhzilHBM0I"
            alt="Mi foto" class="profile-image">
        <h1 class="mb-3">Oscar Leonel Sánchez Conde</h1>
        <p class="lead">Casanare, Colombia</p>
        <p class="lead">Descripción breve sobre ti.</p>
    </div>
    <div class="content-container profile">
        <p>¡Hola! Soy Oscar Leonel Sánchez, un apasionado ingeniero electrónico y estudiante de maestría en ingeniería
            analítica. Mi trayectoria se ha enfocado en el campo de la modelación, ETL y análisis de datos, desarrollo
            web y procesos pedagógicos en cursos de programación y matemáticas.</p>
        <p>Me considero una persona apasionada por la tecnología, la programación, la inteligencia artificial y el valor
            agregado de los datos. Siempre estoy en búsqueda de oportunidades laborales que me permitan combinar mis
            habilidades, conocimientos y pasiones en la resolución de problemas.</p>
        <p>Mi perfil se caracteriza por ser curioso y analítico, con una gran capacidad para trabajar en equipo y
            enfrentar nuevos desafíos. Me encanta aprender y adaptarme a nuevos ambientes, colaborando con profesionales
            de diferentes disciplinas para lograr resultados sobresalientes.</p>
        <p>Como científico de datos, cuento con habilidades en diversas herramientas y tecnologías, como Python,
            Tableau, Power BI, Excel, Java, C, SQL, Spring Boot, Hadoop, Spark, Scikit-Learn y TensorFlow. Además, he
            tenido la oportunidad de aplicar mis conocimientos como tutor de programación y matemáticas, brindando apoyo
            a estudiantes en sus procesos de aprendizaje.</p>
        <p>Durante mi trayectoria, también he trabajado como analista de datos freelance, donde he tenido la
            responsabilidad de organizar, analizar y buscar patrones que permitan medir el impacto de los GEA en el
            rendimiento académico de los estudiantes en la Universidad Nacional de Colombia sede Orinoquía.</p>
        <p>En cuanto a mi formación académica, actualmente estoy cursando la maestría en ingeniería analítica, enfocada
            en el desarrollo de un sistema de información para la recolección y análisis de datos en cultivos. Además,
            he completado exitosamente el programa DS4A/Colombia: Fundamentos en analítica de datos, obteniendo el
            reconocimiento de graduado con honores. También he realizado cursos en Power BI y he participado en el
            programa de formación básico en habilidades de programación de Misión TIC.</p>
        <p>Con mi sólida formación en ingeniería electrónica, mi experiencia en análisis de datos y mi capacidad para
            desarrollar soluciones tecnológicas, estoy preparado para enfrentar nuevos retos y contribuir de manera
            significativa en proyectos innovadores.</p>
        <p>Si estás en busca de un profesional versátil, apasionado por la tecnología y con habilidades en análisis de
            datos, desarrollo web y programación, estaré encantado de colaborar contigo en la resolución de desafiantes
            problemas y proyectos.</p>


    </div>

    

</div>

<!-- Incluir los scripts de Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>