<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">OscarLeoSanchez</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active resalt-selected" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active resalt-selected" aria-current="page" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active resalt-selected" aria-current="page" routerLink="/about-me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active resalt-selected" aria-current="page" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- 
<div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
  <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
  <nav id="TableOfContents">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#border-spinner">Border spinner</a>
        <ul>
          <li><a href="#colors">Colors</a></li>
        </ul>
      </li>
      <li><a href="#growing-spinner">Growing spinner</a></li>
      <li><a href="#alignment">Alignment</a>
        <ul>
          <li><a href="#margin">Margin</a></li>
          <li><a href="#placement">Placement</a>
            <ul>
              <li><a href="#flex">Flex</a></li>
              <li><a href="#floats">Floats</a></li>
              <li><a href="#text-align">Text align</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#size">Size</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#sass">Sass</a>
        <ul>
          <li><a href="#variables">Variables</a></li>
          <li><a href="#keyframes">Keyframes</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div> -->