<div class="my-5">
    <h3 class="text-center">Noticias</h3>
    <hr>
    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action" (click)="filterNews('ciencia de datos')">Análisis de datos</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="filterNews('inteligencia artificial')">Inteligencia artificial</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="filterNews('algoritmos')">Algoritmos</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="filterNews('machine Learning')">Machine learning</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="filterNews('deep Learning')">Deep learning</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="filterNews('software')">Programación</a>
      </ul>
      
      
    <h3 class="text-center">Blog</h3>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">Análisis de datos</li>
        <li class="list-group-item">Inteligencia artificial</li>
        <li class="list-group-item">Algoritmos</li>
        <li class="list-group-item">Machine learning</li>
        <li class="list-group-item">Programación</li>
    </ul>
</div>